<div class="center">
  <div class="huge">404 Error</div>
<h2>Hey! You look a bit lost! Make Your way back to the Main page!</h2>
  <img src="/robotclear.gif">
  <br>
  <a href="/">Go back to the home page</a>
</div>