<header class="header-image">
  <div class="headline">
    <div class="container">
      <h2><i class="fa fa-cog"></i> Settings</h2>




    </div>
  </div>
</header>


<hr>
<div style="margin:10px;">
  <div class="center">
<a class="btn btn-primary btn-lg" id="showChangePass">Change my password</a>



  <div id="hiddenChangePass">
<form class="form-inline" method="post" action="/pass/edit">
  <div class="form-group">
    <label class="font">Old Password</label>
    <input type="password" class="form-control font" name="oldPassword" required placeholder="Old Password">
  </div>
  <div class="form-group">
    <label class="font">New Password</label>
    <input type="password" class="form-control font" required name="newPassword" placeholder="New Password">
  </div>
  <button class="btn btn-success" type="submit">Change Password</button>
</form>
  </div>


  </div>
  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  <a href="#" onclick="signOut();">Sign out</a>
  <a href="#" onclick="clicky();">Clicky</a>
  <div><%= @test %></div>
</div>


<div class="center">

<%if session[:visited] && @user.perm >= 2 %>


      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-plus fa-lg"></i> Add a New Coach
      </button>



      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <form class="" method="post" action="/user/create">
              <fieldset>
                <div class="modal-body">

                  <div class="form-group">
                    <label>First Name</label>
                    <input minlength="2" required class="form-control" type="text" name="firstname">
                  </div>
                  <div class="form-group">
                    <label>Last Name</label>
                    <input minlength="2" required class="form-control" type="text" name="lastname">
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" required class="form-control" name="email">
                  </div>
                  <div class="form-group">

                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button  type="submit" class="btn btn-primary">Create Account</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>


  <%end%>
</div>