
body {
    margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.header-image {
    display: block;
    width: 100%;

    text-align: center;
    background: url('/makerspace-blur.jpe') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-image-2 {
    display: block;
    width: 100%;

    text-align: center;
    background: url('blurry_arduino.jpe') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h2 {
    font-size: 77px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
  /*  background: #fff;
    background: rgba(255,255,255,0.9);*/
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}
#about{
    padding:20px;
}
.featurette-image.img-responsive.pull-right{
    height: 60%;
    width: 50%;
    padding:5px;
    margin:10px;
}

.featurette-image.img-responsive.pull-left{
    height: 60%;
    width: 50%;
    padding:5px;
    margin:10px;
}
.center{
    text-align:center;
    padding:20px;

}
.title{

   font-size:54px;
}
/*.row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 200px;
}*/
.col-md-6.label{
    font-size: 23px;
    color:black;
}
.col-md-3.label{
    font-size: 23px;
    color:black;
}
.huge{
    font-size:104px;
    padding: 30px;
}
.form-control.smallform{
    width:100%;
    padding:10px;
}
.alert.alert-success.alert-dismissible.email{
    margin:10px;
}
.logo{
    width:95%;
    height:50%
}
.btn.btn-success.new.under-title {

    margin-top: 10px;
}
.subtitle{
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    font-weight:400;

}
.caption{
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    font-weight:200;
    font-size: 20px;


}
.font{
    font-family: 'Titillium Web', sans-serif;

}
.postContent{
    width: 100%;
    resize:vertical;
}
.postimage{
    width:50%;
    hieght:50%;
    padding:10px;
}
#hiddenChangePass{
    padding:10px;
}
.new{
    text-decoration: none;
    color: green;
    float:right;
}
.delete{
    float: right;
    text-decoration: none;
    color: red;
    cursor: pointer;
}
#newblogpost{
    float: right;
    border: 15px;
    text-decoration:none;
    cursor: pointer;
}
.date{
    float:left
}
.comment{
    float: right;
}
#openSuggest{
    margin: 15px;
}